/* app css stylesheet */



.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#heading {
  text-align: center;
  color: black;
  background-color: rgba(255,255,255,0.7);
  padding-top: 5px;

}

#list {
  background-color: rgba(255,255,255,0.7);
  border-radius: 50px;
  width: 700px;
  padding: 20px;
  color: black;
}

h3 {
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

#post {
  font-size: 50px;
  font-family: 'Kreon', serif;
  font-weight: bold;
}

#hacks {
  font-size: 50px;
  font-family: 'Kreon', serif;
  font-weight: bold;
}

#share {
  font-family: 'Dosis', sans-serif;
}

#instruction {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
