
html {
transition: background-image 1s ease-in-out;
background: url(pics/hack2.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

-webkit-transition: opacity 1s ease-in-out;
 -moz-transition: opacity 1s ease-in-out;
 -o-transition: opacity 1s ease-in-out;
 transition: opacity 1s ease-in-out;

}


#find_hackathon {
  font-size: 18px;
  border-radius: 350px;
  background-color: rgba(255,255,255,0.9);
  padding: 30px;
  border-collapse: collapse;
  position: relative;
  height: 25px;
  width: 220px;
  color: black;
}

h1{
  font-family: 'Kreon', serif;
  font-weight: bold;
  font-size: 60px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
